:root{
    --primary-bg-color:
    #8B5CF6;
    --primary-c-color:#4C1D95
}

body{
    background-color: var(--primary-bg-color);
    
}
@media screen and (max-width:500px)   {

    body{
        margin:0%;
        padding: 0%;
    }
    .container{
        background-color: var(--primary-c-color);
        text-align: center;
        width:80%;
        margin:auto;
        height: 280px;
    }
    input,label,button{
        display: block;
        margin: auto;
    }
    label{
        font-size: large;
    }
    #birth-date{
        margin-bottom: 2%;
        width:55%;
        border-radius: 10px;
    }
    
    #lucky-number{
        width: 50%;
        margin-bottom: 2%;
        border-radius: 10px;
    }
    
    #check{
        font-weight: bold;
        padding:1.5% 2%;
        margin-bottom: 2%;
        background: transparent;
        background-color: var(--primary-bg-color);
        border: none;
        border-radius: 30px;
    }
    #check:hover{
        border:2px solid black
    }
    #output-bar{
        border:2px outset black;
        height: 20px;
        text-align: center;
        width: 50%;
        display: block;
        margin:auto;
        padding-bottom: 20px;
        
        border-radius: 5px;
        font-weight: bold;
        background-color: #8B5CF6;
    }
    
}
@media not all and (max-width:500px) {
    

.container{
    background-color: var(--primary-c-color);
    text-align: center;
    width:40%;
    margin:auto;
    height: 260px;
}
input,label,button{
    display: block;
    margin: auto;
}
label{
    font-size: large;
}
#birth-date{
    margin-bottom: 2%;
    width:30%;
    border-radius: 10px;
}

#lucky-number{
    margin-bottom: 2%;
    border-radius: 10px;
}

#check{
    font-weight: bold;
    padding:1.5% 2%;
    margin-bottom: 2%;
    background: transparent;
    background-color: var(--primary-bg-color);
    border: none;
    border-radius: 30px;
}
#check:hover{
    border:2px solid black
}
#output-bar{
    border:2px outset var(--primary-bg-color);
    height: 20px;
    text-align: center;
    width: 50%;
    display: block;
    margin:auto;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    font-weight: bold;
}
}